* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.introduçao p{
   text-align: justify;
   margin: 30px;  
}
.introduçao img{
    float: left;
    width: 20%;

}
.cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 700px, 700px;
   justify-content: center;
   gap: 7px;
   margin: 20px;
   margin-top: 10%;
   margin-left: 50px;
   margin-right: 50px;
  
}
#subtopico img{
   width: 100%;
   
}
.icones{
    width: 60px;
    height: 60px;
    margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
    
}
#subtopico{
    text-align: center;
    padding: 20px;
}
#subtopico p{
    margin-top: 10%;
    text-align: center;
} 

<<<<<<< HEAD
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 10vh;
  width: 100%;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

nav a:hover{
  transition: 0.5s;
  background-color: #e4e3e4;
  color: rgb(221, 11, 11);
}

h1{
  line-height: 50px;
}



=======
.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
.modal-content {
    background: white;
    padding: 0.5em;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}
>>>>>>> 668db670fb4d163b761b58ca903e55119f3d150c


